

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background: #000;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.navbar-inverse {
    background: #000;
    border-color: #000;
}

.header .navbar-brand {
  height: 100px;
}

.navbar-brand {
    padding: 0;
}

.header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.header li, .header a {
    font-size: 26px;
    color: #F7A000 !important;
}

h2 {
    font-size: 23px;
    color: #F7A000;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    color: #F7A000;
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0;
    font-weight: 100;
}

a {
    color: #F7A000;    
}

#main img {
    min-width: 100%;
}

#mainLogo {
    max-width: 100px;
}

li, a {
    font-size: 20px;
}


.jumbotron {
    padding: 100px 0;
    margin: 0;
    background: #000;
}

.jumbotron h1 {
    font-size: 28px;
    font-weight: 100;
    color: #F7A000;
    margin-bottom: 60px;
}

.jumbotron p {
    font-size: 40px;
    line-height: 60px;
    margin: 0;
}

.thumbs {
    margin-bottom: 60px;
}

.thumbs:nth-child(4) {
    margin-bottom: 0 !important;
}

.thumbs h2 {
    margin: 40px 0 20px;
}

.thumbs p {
    margin: 0;
}

#bottom a, #bottom p {
    display: block;
    margin: auto;
    padding: 60px;
    text-align: center;
}

#bottom img {
    margin: auto;
    display: block;
}



/**/

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}


.video-overlay-play-button {
    box-sizing: border-box;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0.8;
    cursor: pointer;
    min-width: 0 !important;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

.logo {
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25% 25% 0;
    margin: 40px 0;    
}


/* Flexible iFrame */
 
.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.flexible-container iframe,   
.flexible-container object,  
.flexible-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

